.mainContainer {
  display: flex;  
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.bio2 {
  justify-content: end;
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  background: darkcyan;
  color: white;
  border: 0;
  border-radius: 5px;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 12px;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.item {
  min-height: 200px;
  background-color: #eee;
}